body {
  margin: 0px;
  background-color: #F4F6F8;
  color: whitesmoke;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #061130;
}

main {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #061130;
}

button {
  margin: 10px;
  padding: 10px 5px;
  background-color: #061130;
  color: whitesmoke;
  border: none;
}

a {
  margin: 20px;
}

.hero-text {
  max-width: 20%;
}

.S {
  color: #FAFD61;
}

.chat-button {
  border-radius: 5px;
  background-color: #1c4bc4;
}

.links {
  display: flex;
  padding: 20px;
  background-color: white;
  justify-content: space-evenly;
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
}